/*  = body
----------------------------*/
html,body{
  position:relative;
  height:100%;
}
.kepala-base{
  background:#555;
  border:2px solid #555;
  color:#fff;
  padding:15px;
  text-align:center;
  font-size:20px;
  }

.wrapper{
  background:#454851;
  border:2px solid #555;
  border-radius: 0px 0 3px 3px;
  padding:20px 30px;
  display: block;
  margin: 0;
  width: 100%;
  height:200px;
  text-align: center;
}

/*  = input file
----------------------------*/
.inputFile {
  background:transparent;
  color: transparent;
  outline:none;
  cursor:pointer;
  display:block;
  margin:0 auto;
}
.inputFile::-webkit-file-upload-button {
  visibility: hidden;
}
.inputFile::before {
  content: 'Pilih Gambar';
  margin: 10px;
  color: #FFF;
  display: inline-block;
  background: #F2784B;
  padding: 5px;
  width: 100px;
  height: 48px;
  line-height: 40px;
  text-align: center;
  text-decoration:none;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-family: 'Oswald', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  border-radius: 2px;
  transition:all 0.2s ease;
}
.inputFile:hover::before {
  color: #eee;
  transition:all 0.2s ease;
}
.inputFile:active {
  outline: 0;
}
.inputFile:active::before {
  color: #FFF;
}
input:focus,input:hover{background:#454851}
.btn{
  margin:5px;
  color: #FFF;
  display: inline-block;
  background: #757D75;
  padding: 10px 14px;
  text-align: center;
  text-decoration:none;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-family: 'Oswald', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  border-radius: 2px;
  transition:all 0.2s ease;
}
.btn:hover{
  background: #4A6266;
  color: #fafafa;
  transition:all 0.2s ease;
}
/*  = lightbox
----------------------------*/
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height:199%;
  background:#757D75;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.close_overlay {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 40px;
  width: 50px;
  height: 50px;
  line-height: 45px;
  background:#F46B63;
  color:#fafafa;
  transition: all 0.5s ease;
}
.close_overlay:hover{
  background: #4A6266;
  color: #fafafa;
  transition:all 0.5s ease;
}
.show{
  background:#6C7767;
  opacity: 1;
  visibility: visible;
  z-index: 999999999;
}
.output {
  background:#8BA987;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 5% auto;
  padding: 1em;
  width: 600px;
  height: 500px;
  overflow:auto;
}
.output ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 3px;
  display: block;
  color: #555;
  font-size: 13px;
}
.output ul b{
  color: #555;
}
.textarea {
  overflow: auto;
  width: 100%;
  height: 200px;
  margin: auto;
  margin-bottom:16px;
  display: block;
  border: 1px solid #ecf0f1;
  background: #ecf0f1;
  color: #7f8c8d;
  font-size:13px;
  font-family:monospace,sans-serif;
  
  word-break: break-all; 
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  white-space: pre\9; 
}
.thumb {
  display: block;
  width: 50%;
  height: auto;
  margin: 10px auto;
  box-shadow: 0 6px 6px -6px #000;
}
